# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# other sensitive data
*_sd.jsx


# # ignore all .a files
# *.a

# # but do track lib.a, even though you're ignoring .a files above
# !lib.a

# # only ignore the TODO file in the current directory, not subdir/TODO
# /TODO

# # ignore all files in any directory named build
# build/

# # ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# # ignore all .pdf files in the doc/ directory and any of its subdirectories
# doc/**/*.pdf